nav{
    background-color: blue;
    position: fixed;
    background-attachment: fixed;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container a{
    color: white;
    text-decoration: none;
    padding: 30px;
    font-weight: 600;
}
.container a:hover{
    color: rgb(129, 1, 1);
    transition: ease-in-out 0.5ms;
}
.container img{
    width: 60px;
    border-radius: 50%;
}
.center-link{
    margin-left: 200px;
    display: flex;
}
.right-link{
    margin-left: 400px;
}