*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.card{
    text-shadow: 2px 2px 4px rgb(73, 68, 68);
    box-shadow: 1px 1px 2px lightgray, 0 0 25px rgb(109, 98, 98), 0 0 5px rgb(107, 97, 97);
}
.card button{
    background-color: rgb(88, 13, 13);
    border-radius: 30px 0px 30px;
}
.card button a{
    color: yellow;
    text-decoration: none;
    font-weight: 600;
}
.card button:hover{
    background-color: none;
}
